<ion-header>
  <ion-toolbar>
    <ion-title>Profile Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="collection==='Customer'">
  <div style="margin-top: -10%;">
    <div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
      <div class="col-md-5">
        <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="300" height="200"
            src="{{profilePic}}">
            <ion-progress-bar *ngIf="progress<100 && progress>1" value="{{progress}}"></ion-progress-bar>
            <!-- <input type="file" id="fileUpload" (change)="addEventListener($event)"> -->
            <div class="form-group">
              <label for="exampleFormControlFile1">Change picture</label>
              <input type="file" class="form-control-file" id="fileUpload" (change)="addEventListener($event)">
            </div>          
        </div>
      </div>
      <div class="col-md-7">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">Personal Information</h4>
          </div>
          <div class="row mt-3">
            <div class="col-md-12"><label class="labels">Full Name</label><input type="text" class="form-control" [formControl]="fullName"
                placeholder="Full name"></div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12"><label class="labels">Phone Number</label><input type="text" class="form-control" [formControl]="phoneNumber"
                placeholder="enter phone number" ></div>
            <div class="col-md-12"><label class="labels">Identity number</label><input type="text" class="form-control" [formControl]="idNumber"
                placeholder="Enter RSA identity number"><label class="labels">Street Name</label></div>
            <div class="col-md-12"><label class="labels"></label><input type="text" class="form-control" [formControl]="streetName"
                placeholder="Enter street name"></div>
            <div class="col-md-12"><label class="labels">Town <Address></Address></label><input type="text" class="form-control" [formControl]="town"
                placeholder="Enter your town"></div>
          </div>
          <div class="mt-5 text-center"><button class="btn btn-primary profile-button" (click)="updateDetails()" type="button">Save</button></div>
        </div>
      </div>
    </div>
  </div>
</div>
</ion-content>

<!-- Admin -->
<ion-content *ngIf="collection==='Admin'">

  <div style="margin-top: -10%;">
    <div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
      <div class="col-md-5">
        <div class="d-flex flex-column align-items-center text-center p-3 py-5">

            <img class="rounded-circle mt-5" *ngIf="profilePic" width="300" height="200"
              src="{{profilePic}}">

              <img class="rounded-circle mt-5" *ngIf="!profilePic" width="300" height="200"
              src="../../assets/user (1).png">
            <ion-progress-bar *ngIf="progress<100 && progress>1" value="{{progress}}"></ion-progress-bar>
            <!-- <input type="file" id="fileUpload" (change)="addEventListener($event)"> -->
            <div class="form-group">
              <label for="exampleFormControlFile1">Change picture</label>
              <input type="file" class="form-control-file" id="fileUpload" (change)="addEventListener($event)">
            </div>          
        </div>
      </div>
      <div class="col-md-7">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">Personal Information</h4>
          </div>
          <div class="row mt-3">
            <div class="col-md-12"><label class="labels">Full Name</label><input type="text" class="form-control" [formControl]="fullName"
                placeholder="Full name"></div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12"><label class="labels">Email</label><input type="text" class="form-control" value="{{email}}" disabled
                placeholder="Email"></div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12"><label class="labels">Phone Number</label><input type="text" class="form-control" [formControl]="phoneNumber"
                placeholder="enter phone number" ></div>
            <div class="col-md-12"><label class="labels">Address</label><input type="text" class="form-control" [formControl]="streetName"
                placeholder="Enter street name"></div>
          </div>
          <div class="mt-5 text-center"><button class="btn btn-primary profile-button" (click)="updateDetails()" type="button">Save</button></div>
        </div>
      </div>
    </div>
  </div>
</div>
</ion-content>

<!-- Customer content -->
<ion-content *ngIf="collection!='Customer' && collection!='Admin'">
  <div style="margin-top: -17%;">
      <div class="container rounded bg-white mt-5 mb-5">
      <div class="row">
        <div class="col-md-5">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5">
            <img class="rounded-circle mt-5" width="300" height="200"
            src="{{profilePic}}">
              <ion-progress-bar *ngIf="progress<100 && progress>1" value="{{progress}}"></ion-progress-bar>
              <!-- <input type="file" id="fileUpload" (change)="addEventListener($event)"> -->
              <div class="form-group">
                <label for="exampleFormControlFile1">Change picture</label>
                <input type="file" class="form-control-file" id="fileUpload" (change)="addEventListener($event)">
              </div>          
          </div>
        </div>
        <div class="col-md-7">
          <div class="p-3 py-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h4 class="text-right">Personal Information</h4>
            </div>
            <div class="row mt-3">
              <div class="col-md-12"><label class="labels">Full Name</label><input type="text" class="form-control" [formControl]="fullName"
                  placeholder="Full name"></div>
            </div>
           
            <div class="row mt-3">
              <div class="col-md-12"><label class="labels">Phone Number</label><input type="text" class="form-control" [formControl]="phoneNumber"
                  placeholder="enter phone number" ></div>
              <div class="col-md-12"><label class="labels">Vehicle Registration</label><input type="text" class="form-control" [formControl]="regNo"
                  placeholder="Enter registration number"></div>
              <div class="col-md-12"><label class="labels">Company Name</label><input type="text" class="form-control" [formControl]="cName"
                  placeholder="Enter company name"></div>
              <div class="col-md-12"><label class="labels">Company <Address></Address></label><input type="text" class="form-control" [formControl]="cAddress"
                  placeholder="Enter company address"></div>
            </div>
            <div class="mt-5 text-center"><button class="btn btn-primary profile-button" (click)="updateDetails()" type="button">Save</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>


</ion-content>