<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" *ngIf="folder==='Dashboard'">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div style="display: flex; flex-direction: column; height: 92vh;">
    <h1 style="padding-left: 20px;">All Material Storage</h1>

    <div class="flex-container">

      <div style="background: #C5A60A;">
        <div >
          <img src="../../assets/inboundW.svg" alt="">
          <div>
            <div>
              <h3>Inbound</h3>
            </div>

            <div style="display: flex;">
              <h2>1003</h2><p style="align-self: baseline;"><span>kg</span></p>
            </div>

          </div>
        </div>
      </div>
      <div style="background: #D12C6F;">
        <div >
          <img src="../../assets/outboundW.svg" alt="">
          <div>
            <div>
              <h3>Outbound</h3>
            </div>

            <div style="display: flex;">
              <h2>1003</h2><p style="align-self: baseline;"><span>kg</span></p>
            </div>

          </div>
        </div>
      </div>
      <div style="background: #13BBBB;">
        <div >
          <img style="margin-top: 3%;" src="../../assets/reclaimerW.svg" alt="">
          <div>
            <div>
              <h3>Reclaimer</h3>
            </div>
            <div style="display: flex;">
              <h2>1003</h2><p style="align-self: baseline;"><span>kg</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h1 style="padding-left: 20px;">All Material and Prices</h1>
    <div class="flex-container2">
      <ion-card class="flex-item">
        <ion-card-header>
          <ion-card-subtitle>PAPER</ion-card-subtitle>
          <ion-button  fill="clear" color="dark" style="width: 50px;">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-button>
          <!-- <ion-card-title>Card Title</ion-card-title> -->
        </ion-card-header>
      
        <ion-card-content>
          <div >{{4 | currency:'R'}}</div>
          <div >{{2 | currency:'R'}}</div>
          <div >{{7 | currency:'R'}}</div>
          <div >{{2 | currency:'R'}}</div>
        
        </ion-card-content>
      </ion-card>

      <ion-card class="flex-item">
        <ion-card-header>
          <ion-card-subtitle>PLASTIC</ion-card-subtitle>
          <!-- <ion-icon name="create-outline" ></ion-icon> -->
          <ion-button  fill="clear" color="dark" style="width: 50px;">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-button>
          <!-- <ion-card-title>Card Title</ion-card-title> -->
        </ion-card-header>
      
        <ion-card-content>
          <div >{{4 | currency:'R'}}</div>
          <div >{{2 | currency:'R'}}</div>
          <div >{{7 | currency:'R'}}</div>
          <div >{{2 | currency:'R'}}</div>
          <div >{{3 | currency:'R'}}</div>
          <div >{{9 | currency:'R'}}</div>
        </ion-card-content>
      </ion-card>

      <ion-card class="flex-item">
        <ion-card-header>
          <ion-card-subtitle>GLASS</ion-card-subtitle>
          <ion-button  fill="clear" color="dark" style="width: 50px;">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-button>
          <!-- <ion-card-title>Card Title</ion-card-title> -->
        </ion-card-header>
      
        <ion-card-content>
          <div >{{4 | currency:'R'}}</div>
        </ion-card-content>
      </ion-card>

      <ion-card class="flex-item">
        <ion-card-header>
          <ion-card-subtitle>ALUMINIUM</ion-card-subtitle>
          <ion-button  fill="clear" color="dark" style="width: 50px;">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-button>
          <!-- <ion-card-title>Card Title</ion-card-title> -->
        </ion-card-header>
      
        <ion-card-content>
          <div >{{2 | currency:'R'}}</div>
         
        </ion-card-content>
      </ion-card>

    </div>
    <div style="display: flex;align-items: center;justify-content: space-between;">
      <div>
        <h1 style="padding-left: 20px;">Statistics</h1>
      </div>
      <div>
        <ion-button shape="round" color="success" fill="outline">Daily</ion-button>
      <ion-button shape="round" color="success" fill="outline">Weekly</ion-button>
      <ion-button shape="round" color="success" fill="outline">Monthly</ion-button>
      </div>
      
    </div>
    
    <div class="container_main">
        <div id="highcharts" ></div>
        <div id="highcharts1" ></div>
        <div id="highcharts2" ></div>
    </div>
  </div>
  
</ion-content>

<ion-content [fullscreen]="true" *ngIf="folder==='Inbound'">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="inbound_container">
    <div>
      <div style="background-image: url(../../assets/ColorFullMagazines.jpg);">
        <div><h4>Paper</h4></div>
      </div>
      <div style="background-image: url(../../assets/BluCapPlasticBottle.jpg);">
        <div><h4>Plastic</h4></div>
      </div>
      <div style="background-image: url(../../assets/SquashedRedCan.jpg);">
        <div><h4>Aluminium</h4></div>
      </div>
      <div style="background-image: url(../../assets/WhiteWineGlass.jpg);">
        <div><h4>Glass</h4></div>
      </div>
    </div>
 <h2 style="padding-left: 15px;">History of all recieved waste materials</h2>
    <div>
     
      <table class="table table-striped">
        <thead style="background-color: #C5A60A; color: white;">
          <tr>
            <th scope="col">Code</th>
            <th scope="col">Driver Name</th>
            <th scope="col">Registration No.</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td><ion-icon name="eye" color="success"></ion-icon></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td><ion-icon name="eye" color="success"></ion-icon></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td><ion-icon name="eye" color="success"></ion-icon></td>
          </tr>
        </tbody>
      </table>
      
  </div>
  </div>

</ion-content>

<ion-content [fullscreen]="true" *ngIf="folder==='Outbound'">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="inbound_container">
    <div>
      <div style="background-image: url(../../assets/ColorFullMagazines.jpg);">
        <div><h4>Paper</h4></div>
      </div>
      <div style="background-image: url(../../assets/BluCapPlasticBottle.jpg);">
        <div><h4>Plastic</h4></div>
      </div>
      <div style="background-image: url(../../assets/SquashedRedCan.jpg);">
        <div><h4>Aluminium</h4></div>
      </div>
      <div style="background-image: url(../../assets/WhiteWineGlass.jpg);">
        <div><h4>Glass</h4></div>
      </div>
    </div>
 <h2 style="padding-left: 15px;">History of dispatched materials</h2>
    <div>
     
      <table class="table table-striped">
        <thead style="background-color: #D12C6F; color: white;">
          <tr>
            <th scope="col">Code</th>
            <th scope="col">Driver Name</th>
            <th scope="col">Registration No.</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td><ion-icon name="eye" color="success"></ion-icon></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td><ion-icon name="eye" color="success"></ion-icon></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td><ion-icon name="eye" color="success"></ion-icon></td>
          </tr>
        </tbody>
      </table>
      
  </div>
  </div>
</ion-content>


<ion-content [fullscreen]="true" *ngIf="folder==='Reclaimers'">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="inbound_container">
    <div>
      <div style="background-image: url(../../assets/ColorFullMagazines.jpg);">
        <div><h4>Paper</h4></div>
      </div>
      <div style="background-image: url(../../assets/BluCapPlasticBottle.jpg);">
        <div><h4>Plastic</h4></div>
      </div>
      <div style="background-image: url(../../assets/SquashedRedCan.jpg);">
        <div><h4>Aluminium</h4></div>
      </div>
      <div style="background-image: url(../../assets/WhiteWineGlass.jpg);">
        <div><h4>Glass</h4></div>
      </div>
    </div>
 <h2 style="padding-left: 15px;">All storage materials</h2>
    <div>
     
      <table class="table table-striped">
        <thead style="background-color: #13BBBB; color: white;">
          <tr>
            <th scope="col">Code</th>
            <th scope="col">Full names</th>
            <th scope="col">Identity number</th>
            <th scope="col">Phone number</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td><ion-icon name="eye" color="success"></ion-icon></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td><ion-icon name="eye" color="success"></ion-icon></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td><ion-icon name="eye" color="success"></ion-icon></td>
          </tr>
        </tbody>
      </table>
      
  </div>
  </div>
</ion-content>

<ion-content [fullscreen]="true" *ngIf="folder==='Profile'">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

 
</ion-content>

