<ion-header [translucent]="true">
  <ion-toolbar class="bg_color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>{{ folder }}</ion-title>
    <ion-button fill="clear" slot="end" color="danger" style="width: 60px;" (click)="logout()">
      <ion-icon slot="icon-only" name="log-out"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" *ngIf="folder==='Dashboard'">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div style="display: flex; flex-direction: column;">
    <h1 style="padding-left: 20px;">All Material Storage</h1>

    <div class="flex-container">

      <div style="background: #C5A60A;">
        <div>
          <img src="../../assets/inboundW.svg" alt="">
          <div>
            <div>
              <h3>Inbound</h3>
            </div>

            <div style="display: flex;">
              <h2>{{getTotal()}}</h2>
              <p style="align-self: baseline;"><span>kg</span></p>
            </div>

          </div>
        </div>
      </div>
      <div style="background: #D12C6F;">
        <div>
          <img src="../../assets/outboundW.svg" alt="">
          <div>
            <div>
              <h3>Outbound</h3>
            </div>

            <div style="display: flex;">
              <h2>{{totalOutbound}}</h2>
              <p style="align-self: baseline;"><span>kg</span></p>
            </div>

          </div>
        </div>
      </div>
      <div style="background: #13BBBB;">
        <div>
          <img style="margin-top: 3%;" src="../../assets/reclaimerW.svg" alt="">
          <div>
            <div>
              <h3>Reclaimer</h3>
            </div>
            <div style="display: flex;">
              <h2>{{totalReclaimer}}</h2>
              <p style="align-self: baseline;"><span>kg</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h1 style="padding-left: 20px;">All Material and Prices</h1>
    <div class="flex-container2">
      <ion-card class="flex-item">
        <ion-card-header>
          <ion-card-subtitle>PAPER</ion-card-subtitle>
          <ion-button fill="clear" color="dark" (click)="createModal('Paper')" style="width: 50px;">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-button>
          <!-- <ion-card-title>Card Title</ion-card-title> -->
        </ion-card-header>

        <ion-card-content>
          <div *ngFor="let q of infoPaper">
            <p style="line-height: 12px;">{{q.price | currency:'R'}}<br><label
                style="font-size: 8px;font-weight: bold;">{{q.name}}</label></p>
          </div>


        </ion-card-content>
      </ion-card>

      <ion-card class="flex-item">
        <ion-card-header>
          <ion-card-subtitle>PLASTIC</ion-card-subtitle>
          <!-- <ion-icon name="create-outline" ></ion-icon> -->
          <ion-button fill="clear" color="dark" (click)="createModal('Plastic')" style="width: 50px;">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-button>
          <!-- <ion-card-title>Card Title</ion-card-title> -->
        </ion-card-header>

        <ion-card-content>

          <div *ngFor="let q of infoArr">
            <p style="line-height: 12px;">{{q.price | currency:'R'}}<br><label
                style="font-size: 8px;font-weight: bold;">{{q.name}}</label></p>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-card class="flex-item">
        <ion-card-header>
          <ion-card-subtitle>GLASS</ion-card-subtitle>
          <ion-button fill="clear" color="dark" (click)="createModal('Glass')" style="width: 50px;">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-button>
          <!-- <ion-card-title>Card Title</ion-card-title> -->
        </ion-card-header>

        <ion-card-content>
          <div *ngFor="let q of infoGlass">
            <p style="line-height: 12px;">{{q.price | currency:'R'}}<br><label
                style="font-size: 8px;font-weight: bold;">{{q.name}}</label></p>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-card class="flex-item">
        <ion-card-header>
          <ion-card-subtitle>ALUMINIUM</ion-card-subtitle>
          <ion-button fill="clear" color="dark" (click)="createModal('Aluminium')" style="width: 50px;">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-button>
          <!-- <ion-card-title>Card Title</ion-card-title> -->
        </ion-card-header>

        <ion-card-content>
          <div *ngFor="let q of infoAl">
            <p style="line-height: 12px;">{{q.price | currency:'R'}}<br><label
                style="font-size: 8px;font-weight: bold;">{{q.name}}</label></p>
          </div>

        </ion-card-content>
      </ion-card>

    </div>
    <div style="display: flex;align-items: center;justify-content: space-between;">
      <div>
        <h1 style="padding-left: 20px;">Statistics</h1>
      </div>
      <div>
        <ion-button shape="round" color="success" fill="outline">Daily</ion-button>
        <ion-button shape="round" color="success" fill="outline">Weekly</ion-button>
        <ion-button shape="round" color="success" fill="outline">Monthly</ion-button>
      </div>

    </div>

    <div class="container_main">
      <div id="highcharts"></div>
      <div id="highcharts1"></div>
      <div id="highcharts2"></div>
    </div>
  </div>

</ion-content>

<ion-content [fullscreen]="true" *ngIf="folder==='Inbound'">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="inbound_container">
    <div>
      <div style="background-image: url(../../assets/ColorFullMagazines.jpg);">
        <div (click)="createModal('Paper_Inbound')">
          <h4>Paper</h4>
        </div>
      </div>
      <div style="background-image: url(../../assets/BluCapPlasticBottle.jpg);">
        <div (click)="createModal('Plastic_Inbound')">
          <h4>Plastic</h4>
        </div>
      </div>
      <div style="background-image: url(../../assets/SquashedRedCan.jpg);">
        <div (click)="createModal('Aluminium_Inbound')">
          <h4>Aluminium</h4>
        </div>
      </div>
      <div style="background-image: url(../../assets/WhiteWineGlass.jpg);">
        <div (click)="createModal('Glass_Inbound')">
          <h4>Glass</h4>
        </div>
      </div>
    </div>
    <h2 style="padding-left: 15px;">History of all recieved waste materials</h2>
    <div>

      <table class="table table-striped">
        <thead style="background-color: #C5A60A; color: white;">
          <tr>
            <th scope="col">Code</th>
            <th scope="col">Driver Name</th>
            <th scope="col">Registration No.</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let y of inboundArray">
            <th scope="row">{{y.info.driverID}}</th>
            <td>{{y.info.driverName}}</td>
            <td>{{y.info.regNumber}}</td>
            <td>
              <ion-button fill="clear" color="success" (click)="viewDetail(y)" style="width: 50px;">
                <ion-icon slot="icon-only" name="eye"></ion-icon>
              </ion-button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</ion-content>

<ion-content [fullscreen]="true" *ngIf="folder==='Outbound'">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="inbound_container">
    <div>
      <div style="background-image: url(../../assets/ColorFullMagazines.jpg);">
        <div (click)="createModal('Paper_Outbound')">
          <h4>Paper</h4>
        </div>
      </div>
      <div style="background-image: url(../../assets/BluCapPlasticBottle.jpg);">
        <div (click)="createModal('Plastic_Outbound')">
          <h4>Plastic</h4>
        </div>
      </div>
      <div style="background-image: url(../../assets/SquashedRedCan.jpg);">
        <div (click)="createModal('Aluminium_Outbound')">
          <h4>Aluminium</h4>
        </div>
      </div>
      <div style="background-image: url(../../assets/WhiteWineGlass.jpg);">
        <div (click)="createModal('Glass_Outbound')">
          <h4>Glass</h4>
        </div>
      </div>
    </div>
    <h2 style="padding-left: 15px;">History of dispatched materials</h2>
    <div>

      <table class="table table-striped">
        <thead style="background-color: #D12C6F; color: white;">
          <tr>
            <th scope="col">Code</th>
            <th scope="col">Driver Name</th>
            <th scope="col">Registration No.</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let y of outboundArray">
            <th scope="row">{{y.driverID}}</th>
            <td>{{y.driverName}}</td>
            <td>{{y.regNumber}}</td>
            <td>
              <ion-button fill="clear" color="success" (click)="viewDetail(y)" style="width: 50px;">
                <ion-icon slot="icon-only" name="eye"></ion-icon>
              </ion-button>

            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</ion-content>


<ion-content [fullscreen]="true" *ngIf="folder==='Reclaimer'">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="inbound_container">
    <div>
      <div style="background-image: url(../../assets/ColorFullMagazines.jpg);">
        <div (click)="createModal('Paper_Reclaimer')">
          <h4>Paper</h4>
        </div>
      </div>
      <div style="background-image: url(../../assets/BluCapPlasticBottle.jpg);">
        <div (click)="createModal('Plastic_Reclaimer')">
          <h4>Plastic</h4>
        </div>
      </div>
      <div style="background-image: url(../../assets/SquashedRedCan.jpg);">
        <div (click)="createModal('Aluminium_Reclaimer')">
          <h4>Aluminium</h4>
        </div>
      </div>
      <div style="background-image: url(../../assets/WhiteWineGlass.jpg);">
        <div (click)="createModal('Glass_Reclaimer')">
          <h4>Glass</h4>
        </div>
      </div>
    </div>
    <h2 style="padding-left: 15px;">All storage materials</h2>
    <div>

      <table class="table table-striped">
        <thead style="background-color: #13BBBB; color: white;">
          <tr>
            <th scope="col">Code</th>
            <th scope="col">Full names</th>
            <th scope="col">Identity number</th>
            <th scope="col">Phone number</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let y of reclaimerArray">
            <th scope="row">{{y.customerID}}</th>
            <td>{{y.fullName}}</td>
            <td>{{y.idNumber}}</td>
            <td>{{y.phoneNumber}}</td>
            <td>
              <ion-button fill="clear" color="success" (click)="viewDetail(y)" style="width: 50px;">
                <ion-icon slot="icon-only" name="eye"></ion-icon>
              </ion-button>
            </td>
          </tr>

        </tbody>
      </table>

    </div>
  </div>
</ion-content>

<ion-content [fullscreen]="true" *ngIf="folder==='Profile'">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="profile_container">
    <div style="background-color: rgb(0, 80, 17); padding-top: 50px;">
      <div style="margin-bottom: -50px;z-index: 10000; width: 100%; align-items: center; justify-content: space-around;">
       <div>
         <ion-button (click)="editUser(admin_id, 'Admin')" fill="clear" slot="end" color="light" style="width: 60px; margin-left: 85%;">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-button>
       </div>
        <div>
          <img src="{{admin.image}}" style="border-radius: 20px;margin-left: 37%;" alt="">
        </div>
        
    
      </div>
      <div style="background-color: rgba(245, 245, 245, 0.972);width: 100%; border-radius: 30px 30px 5px 5px;padding-top: 50px;">
        <h1 style="text-align: center; font-weight: bold;">{{admin.name}}</h1>
        <h3 style="text-align: center;">{{admin.number}}</h3>
        <p style="text-align: center;">{{admin.address}}</p>
      </div>
    </div>
  </div>

</ion-content>

<ion-content [fullscreen]="true" *ngIf="folder==='Manage Users'">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- <div class="users_main"> -->
  <!-- <div class="users_container"> -->
  <div style="display: flex; flex-direction: row;width: 100%;">
    <ion-list lines="none" style="display: flex; flex-direction: row;" *ngFor="let u of users">
      <ion-item color="light" *ngFor="let y of u.driver">
          <ion-avatar slot="start">
            <img src="{{y.data.profilePic}}">
          </ion-avatar>
          <ion-label>
            <h2>{{y.data.fullName}}</h2>
            <h3>{{y.data.phoneNumber}}</h3>
            <p>{{y.data.companyName}}</p>
          </ion-label>

          <ion-buttons style="display: flex; flex-direction: column;">
            <ion-button fill="clear" (click)="editUser(y.id,'Driver')" color="medium" style="width: 50px;">
              <ion-icon slot="icon-only" name="create"></ion-icon>
            </ion-button>

            <ion-button fill="clear" color="danger" (click)="deleteInDriver(y.id)" style="width: 50px;">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </ion-buttons>

      </ion-item>

      <ion-item color="light" *ngFor="let y of u.outDriver">
        <ion-avatar slot="start">
          <img src="{{y.data.profilePic}}">
        </ion-avatar>
        <ion-label>
          <h2>{{y.data.fullName}}</h2>
          <h3>{{y.data.phoneNumber}}</h3>
          <p>{{y.data.companyName}}</p>
        </ion-label>

        <ion-buttons style="display: flex; flex-direction: column;">
          <ion-button fill="clear" color="medium" (click)="editUser(y.id,'outboundDriver')" style="width: 50px;">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-button>

          <ion-button fill="clear" color="danger" (click)="deleteOutDriver(y.id)" style="width: 50px;">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-buttons>

    </ion-item>

    <ion-item color="light" *ngFor="let y of u.customer">
      <ion-avatar slot="start">
        <img src="{{y.data.profilePic}}">
      </ion-avatar>
      <ion-label>
        <h2>{{y.data.fullName}}</h2>
        <h3>{{y.data.phoneNumber}}</h3>
        <p>{{y.data.streetName}}</p>
      </ion-label>

      <ion-buttons style="display: flex; flex-direction: column;">
        <ion-button fill="clear" color="medium" (click)="editUser(y.id,'Customer')" style="width: 50px;">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-button>

        <ion-button fill="clear" color="danger" (click)="deleteCustomer(y.id)" style="width: 50px;">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>

  </ion-item>
    </ion-list>
  </div>


  <!-- </div> -->
  <!-- <div style="background-color: blanchedalmond; width: 200px;height: 50vh;"></div> -->
  <!-- </div> -->


</ion-content>