ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #042525));
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
  // --background: var(--ion-item-background, var(--ion-background-color, rgb(0, 80, 17)));
}



ion-menu.md ion-list-header,


ion-menu.md ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu.md ion-list {
background-color: #042525;
}

ion-menu.ios ion-list {
  background-color:  #042525;
  }

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: #757575;

  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  --background: var(--ion-item-background, var(--ion-background-color, #042504)); 
}

ion-menu.ios ion-item.selected {
  --background: var(--ion-item-background, var(--ion-background-color, #042507));
}


// ion-menu.md ion-item ion-label {
//   font-weight: 500;
// }

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

#header1 {
  // background-color: yellowgreen;
  display: flex;
  flex-direction: column;
  // margin: 10px;
  padding-bottom: 10px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}


ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #ffffff;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,



ion-note {
  display: inline-block;
  // font-size: 16px;

   color: var(--ion-color-dark);
}

// ion-item.selected {
//   --color: var(--ion-color-danger);
// }