.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
}

.container > div {
    width: 100%;
    // height: 20vh;
    // background-color: turquoise;
    margin: 10px;
}