<ion-header [translucent]="true">
  <ion-toolbar class="bg_color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Details</ion-title>
    <ion-button fill="clear" slot="end" color="danger" style="width: 60px;" (click)="logout()">
      <ion-icon slot="icon-only" name="log-out"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div style="display: flex; flex-direction: row;">
      <div style="width: 40%; max-height: 26vh; background-color: rgb(255, 255, 255); margin: 10px; display: flex; flex-wrap: no-wrap;border-radius: 10px; box-shadow: rgba(128, 128, 128, 0.644) 2px 2px; border: rgba(128, 128, 128, 0.192) 1px solid;">
        <div style=" margin:10px 0px 0px 10px;"><img src="../../assets/flatnews.jpg" height="60" width="60" style="border-radius: 50%; margin: 25px;" alt=""></div>
        <div style="margin: 10px; border-left: rgb(197, 197, 197) 2px solid;">
          <h2 style="font-weight: bold; font-size: 18px; margin-left: 5px;">Name and Surname</h2>
          <h4 style="font-size: 15px; line-height: 0px; margin-left: 5px;">Code</h4>
          <h4  style="font-size: 15px; line-height: 0px; margin-left: 5px;">Reg No.</h4>
          <h4  style="font-size: 15px; line-height: 0px; margin-left: 5px;">Phone</h4>
        <ion-button style="height: 2.5vh; width: 30; font-size: 10px; margin-left: 5px;">Update</ion-button>

        </div>
      </div>
      <div style="width: 50%; max-height: 200px;margin: 10px; display: flex;flex-wrap: wrap; overflow-x: auto; flex-direction: column;">
      
        <ion-card style="width: 200px;">
          <ion-card-content>
            <p style="font-size: 12px;">Ref No: <span style="font-size: 10px;">IUN2PjCkyCkvuh3RJfMT</span> </p>
          </ion-card-content>
          <ion-card-footer style="display: flex;align-items: center; justify-content: space-between;height: 3.5vh;margin: 0px 5px 0 5px">
            <p style="font-size: 10px; color: grey; font-style: italic;">October 28 2020</p>
            <ion-button style="height: 2.5vh; width: 30; font-size: 10px;">Details</ion-button>
          </ion-card-footer>
        </ion-card>
   
        <ion-card style="width: 200px;">
          <ion-card-content>
            <p style="font-size: 12px;">Ref No: <span style="font-size: 10px;">IUN2PjCkyCkvuh3RJfMT</span> </p>
          </ion-card-content>
          <ion-card-footer style="display: flex;align-items: center; justify-content: space-between;height: 3.5vh;margin: 0px 5px 0 5px">
            <p style="font-size: 10px; color: grey; font-style: italic;">October 28 2020</p>
            <ion-button style="height: 2.5vh; width: 30; font-size: 10px;">Details</ion-button>
          </ion-card-footer>
        </ion-card>

        <ion-card style="width: 200px;">
          <ion-card-content>
            <p style="font-size: 12px;">Ref No: <span style="font-size: 10px;">IUN2PjCkyCkvuh3RJfMT</span> </p>
          </ion-card-content>
          <ion-card-footer style="display: flex;align-items: center; justify-content: space-between;height: 3.5vh;margin: 0px 5px 0 5px">
            <p style="font-size: 10px; color: grey; font-style: italic;">October 28 2020</p>
            <ion-button style="height: 2.5vh; width: 30; font-size: 10px;">Details</ion-button>
          </ion-card-footer>
        </ion-card>

        <ion-card style="width: 200px;">
          <ion-card-content>
            <p style="font-size: 12px;">Ref No: <span style="font-size: 10px;">IUN2PjCkyCkvuh3RJfMT</span> </p>
          </ion-card-content>
          <ion-card-footer style="display: flex;align-items: center; justify-content: space-between;height: 3.5vh;margin: 0px 5px 0 5px">
            <p style="font-size: 10px; color: grey; font-style: italic;">October 28 2020</p>
            <ion-button style="height: 2.5vh; width: 30; font-size: 10px;">Details</ion-button>
          </ion-card-footer>
        </ion-card>

        <ion-card style="width: 200px;">
          <ion-card-content>
            <p style="font-size: 12px;">Ref No: <span style="font-size: 10px;">IUN2PjCkyCkvuh3RJfMT</span> </p>
          </ion-card-content>
          <ion-card-footer style="display: flex;align-items: center; justify-content: space-between;height: 3.5vh;margin: 0px 5px 0 5px">
            <p style="font-size: 10px; color: grey; font-style: italic;">October 28 2020</p>
            <ion-button style="height: 2.5vh; width: 30; font-size: 10px;">Details</ion-button>
          </ion-card-footer>
        </ion-card>

        <ion-card style="width: 200px;">
          <ion-card-content>
            <p style="font-size: 12px;">Ref No: <span style="font-size: 10px;">IUN2PjCkyCkvuh3RJfMT</span> </p>
          </ion-card-content>
          <ion-card-footer style="display: flex;align-items: center; justify-content: space-between;height: 3.5vh;margin: 0px 5px 0 5px">
            <p style="font-size: 10px; color: grey; font-style: italic;">October 28 2020</p>
            <ion-button style="height: 2.5vh; width: 30; font-size: 10px;">Details</ion-button>
          </ion-card-footer>
        </ion-card>

        <ion-card style="width: 200px;">
          <ion-card-content>
            <p style="font-size: 12px;">Ref No: <span style="font-size: 10px;">IUN2PjCkyCkvuh3RJfMT</span> </p>
          </ion-card-content>
          <ion-card-footer style="display: flex;align-items: center; justify-content: space-between;height: 3.5vh;margin: 0px 5px 0 5px">
            <p style="font-size: 10px; color: grey; font-style: italic;">October 28 2020</p>
            <ion-button style="height: 2.5vh; width: 30; font-size: 10px;">Details</ion-button>
          </ion-card-footer>
        </ion-card>

        <ion-card style="width: 200px;">
          <ion-card-content>
            <p style="font-size: 12px;">Ref No: <span style="font-size: 10px;">IUN2PjCkyCkvuh3RJfMT</span> </p>
          </ion-card-content>
          <ion-card-footer style="display: flex;align-items: center; justify-content: space-between;height: 3.5vh;margin: 0px 5px 0 5px">
            <p style="font-size: 10px; color: grey; font-style: italic;">October 28 2020</p>
            <ion-button style="height: 2.5vh; width: 30; font-size: 10px;">Details</ion-button>
          </ion-card-footer>
        </ion-card>

        <ion-card style="width: 200px;">
          <ion-card-content>
            <p style="font-size: 12px;">Ref No: <span style="font-size: 10px;">IUN2PjCkyCkvuh3RJfMT</span> </p>
          </ion-card-content>
          <ion-card-footer style="display: flex;align-items: center; justify-content: space-between;height: 3.5vh;margin: 0px 5px 0 5px">
            <p style="font-size: 10px; color: grey; font-style: italic;">October 28 2020</p>
            <ion-button style="height: 2.5vh; width: 30; font-size: 10px;">Details</ion-button>
          </ion-card-footer>
        </ion-card>
      </div>
    </div>
    <div style="display: flex;">
      <div style="width: 100%; height: 100%; flex: 1;" id="highcharts"></div>
    </div>
  </div>
</ion-content>