.modal_container{
    display: flex;
    // background-color: yellowgreen;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bar-header {
    // border: 0px !important;
    // border-bottom-color: transparent !important;
    background-image: none !important;
    // border-bottom: none !important;
    display: flex;align-items: center; margin: 0 15px 0px 15px; 
    border-bottom-color: transparent !important;
    border: 0px !important; 
    border-bottom: none !important;
}
ion-slide {
    height: 50vh; 
    width: 100%;
}


.modal_container > ion-input {
    width: 300px;
    margin: 20px;
    border-radius: 10px;
}
.modal_container > ion-button {
    width: 100%;
}
#pc1 {
    opacity: 1;
    // transition: opacity 1s;
    // animation-name: bounceInRight;
    // animation-duration: 1s;
    // z-index: -1;
  }
  #pc1.hide {
    opacity: 0;
  }

  .paper_In_container{
      display: flex;
  }
  #fileUpload {
      width: 105px;
  }
  